*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  background-color: var(--white-color) smoke;
  font-size: 62.5%;
  word-wrap: break-word;
  --earth-color: #8a2106;
  --earth-medium-color: #cc4725;
  --earth-light-color: #ffaa94;
  --green-life-color: #aeff99;
  --green-life-dark: #62b100;
  --main-color: rgb(60, 60, 60);
  --white-color: rgb(255, 255, 255);
  --product-size: 25rem;
  --gap: 1.5rem;
  --product-btn-size: 3rem;
  background-color: var(--earth-light-color);
}

.mb-20 {
  margin-bottom: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  background-color: var(--main-color);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--white-color);
}

.icon {
  font-size: 3rem;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  margin-right: 2rem;
}

.logo {
  margin-left: 1rem;
}

/*Formulario de búsqueda*/

.search-section {
  height: 45rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../img/search-background.jpg);
  background-size: cover;
  background-position: center;
}

#search-form {
  width: 50%;
}

.main-title {
  width: 50%;
  background-color: var(--earth-color);
  color: var(--white-color);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

input[type="search"] {
  display: block;
  height: 4.5rem;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

input[list="keywords"]::placeholder {
  color: var(--earth-color);
}

input[list="keywords"]:focus {
  color: var(--earth-color);
  font-size: large;
}

/* Tamaño de fuentes */

.title {
  text-align: center;
  font-family: Verdana, sans-serif;
}

.main-title {
  font-size: 3.2rem;
}

.secondary-title {
  font-size: 3rem;
  text-transform: uppercase;
}

.product-caption {
  font-size: 1.7rem;
}

.product-price {
  font-size: 1.6rem;
}

.btn {
  font-size: 3rem;
}

main {
  display: grid;
  grid-row-gap: 4rem;
  margin-bottom: 4rem;
}

/* Productos */

.all-products {
  text-align: center;
}

.all-products .secondary-title {
  color: var(--earth-color);
}

#products {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, var(--product-size));
  grid-gap: var(--gap);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: var(--product-size);
  height: var(--product-size);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.3rem solid var(--earth-medium-color);
  border-radius: 1rem;
  background-color: var(--white-color);
}

.product figure {
  display: block;
  width: var(--product-size);
  height: calc(var(--product-size) * 0.7);
  color: var(--earth-color);
  font-weight: bold;
}

.product-img {
  display: block;
  height: calc(90% - 2.5rem);
  width: calc(100% - 2.5rem);
  margin: 1rem;
  object-fit: cover;
}

.product-info {
  height: calc(var(--product-size) * 0.3);
  width: var(--product-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prices {
  text-align: center;
  flex-basis: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 45%;
}

.product-price {
  width: 4rem;
  display: inline-block;
  height: var(--product-btn-size);
  line-height: var(--product-btn-size);
}

.product-price:only-child {
  width: 100%;
}

.buttons {
  flex-basis: 50%;
  width: calc((var(--product-btn-size) + var(--gap)) * 2.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  height: var(--product-btn-size);
  width: var(--product-btn-size);
  line-height: var(--product-btn-size);
  background-color: var(--earth-color);
  color: var(--white-color);
  border: none;
}

.item-count {
  width: calc(var(--product-btn-size) * 2);
  height: var(--product-btn-size);
  text-align: center;
}

.add-cart-btn:hover {
  background-color: var(--green-life-color);
  border: 0.1rem solid var(--earth-color);
  color: var(--earth-color);
}

.discount-amount {
  --width: 5rem;
  --height: 2.5rem;
  position: absolute;
  bottom: calc(var(--product-size) - 0.5rem - var(--height));
  left: calc(var(--product-size) - 0.5rem - var(--width));
  background-color: gold;
  color: var(--main-color);
  padding: 0.25rem;
  width: var(--width);
  height: var(--height);
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: bolder;
}

@media (max-width: 600px) {
  .main-title,
  #search-form {
    width: 95%;
  }
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10rem;
  width: 70%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

tr {
  display: flex;
  height: 2.5rem;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

th,
td {
  flex-basis: 25%;
  border-bottom: 1px solid;
}

tfoot {
  margin-top: 1rem;
  margin-left: auto;
}

#items-count-icon {
  position: absolute;
  bottom: 0;
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: bolder;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
}

#cart-icon {
  position: relative;
  background-color: transparent;
  border: none;
}

#shopping-cart {
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 1024;
  padding: 1rem;
  width: 80vw;
  height: max-content;
  margin: 0 auto;
  border: 0.1rem solid rgb(60, 60, 60);
}

#historial.visible {
  display: block;
}

#historial {
  display: none;
}

details {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

details li {
  margin: 1rem 0;
}
